<h1>app comp ,hello world !!!</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere ipsa, ullam ad ipsam dolorem molestiae nam omnis libero ducimus iusto! Ab vitae eaque voluptate rem soluta ratione minima ullam in?</p>


<hr>
<app-contact></app-contact>
<hr>
<app-about></app-about>
<hr>
<app-conditions></app-conditions>


<hr>
<a style="margin-left: 10px;" routerLink="/contact">contact</a>
<a style="margin-left: 10px;" routerLink="/about">about</a>
<a style="margin-left: 10px;" routerLink="/yeni">yeni</a>

<div style="background-color: antiquewhite;padding: 20px;">
<router-outlet></router-outlet>
</div>

<hr>
<app-layouts></app-layouts>
